.main-section{

	margin:0 auto;
	margin-top: 25%;
	padding:0;
}

.modal-content{

	background-color: #76d7c4
	;
	box-shadow:0px 0px 6px #848484;
	opacity:.80 ;




}
body{

	background:url(../img/fondo.jpg) no-repeat center center;



}