.main-section{

	margin:0 auto;
	margin-top: 25%;
	padding:0;
	
}

.modal-content{

	background-color: #76d7c4
	
	;
    



}
body{

	

		background:url(../img/fondo.jpg) no-repeat center center;
	
	
	
	



}