{% extends 'pedidos_online/base.html'%}
{% load static %}


{% block content %}

    <div class="row justify-content-center">
    {% for object in produ %}
        <div class="col-sm-3">
        	<img src="../static/{{ object.img }}" class="lista-home">
            <p class="home-p">{{ object.nombre }}</p>
            <p class="home-p">Precio: ${{ object.precio }}</p>
            <button type="submit" class="btn btn-primary btn-sm">Ver Producto</button>
        </div>
    {% endfor %}
    </div>
{% endblock content %}