{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{%static 'css\login.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    {% csrf_token %}
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content animated fadeInUp">
                {%if form.errors %}
                 <p class="text-danger">Usuario y/o contraseñas incorrectos</p>
                {% endif %}
               
                <h1 class="title">LOGIN</h1>
                
                <form class="col-12" method="post" action="#">

                    {% csrf_token %}
                    
                    
                    <div class="form-group">
                        
                        <label></label>
                       <input type="text" name="username" placeholder="Ingrese nombre..." class="form-control" required>

                    </div>
                      
                   
                    <div class="form-group">
                        <label></label>
                        <input type="password" name="password" placeholder="Ingrese contraseña..." class="form-control" required >
                      <label></label>
                    </div>
                    
                    <div class="form-group">
                        
                        <label></label>

                        <input class="btn btn-primary btn-block"  class="form-group" type="submit" value="Acceder">
                    </div>


                    
                    <div class="form-group">
                          
                      
                       <a href="{%url 'register'%}" class="text-danger">Registrarse</a>
                    </div> 
                </form>
          
            </div>
        </div>
    </div>

</body>

</html>