{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>E-Commers</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
	
	{%  include 'blog/navbar.html' %}
	{% block content %}
	<div class="container-fluid">
	
		<h1>Bienvenido!!!!</h1>
		
		<h2>{{user.username}}</h2>
		

		<table style="width:50%" align="center">
			
			<tr align="center">
				{%for pro in produ%}

				
					<tr>
						<td>{{pro.descripcion}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'pedidos' pro.id_producto %}">Comprar</a></td>
						 
						
		
					</tr>
			
						
				
				{% endfor %}

			</tr>
			
			
		</table>
		
	</div>
	

	{% endblock %}
	<hr>
	<h5>Cardozo-Caruso</h5>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</html>