{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'img/carrito.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'home'%}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'producto'%}">Productos</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="#">Pedidos</a>
      </li>
        </li>
         <li class="nav-item active">
        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
      </li>
    </ul>
  </div>
</nav>


