{%  extends 'blog/main.html' %}

{% block content %}

{% csrf_token %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Crear cliente</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Cliente</th>
					<th>Ordenes</th>
				</tr>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Crear orden</a>
			<table class="table table-sm">
				<tr>
					<th>Producto</th>
					<th>Fecha Ordenada</th>
					<th>Estado</th>
					<th>Actualizar</th>
					<th>Borrar</th>
				</tr>
				<td>{{pedi.descripcion}}</td>
			</table>
		</div>
	</div>

</div>

{% endblock %}

