{%  extends 'pedidos_online/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
	<title>Busqueda de producto por catalogos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

	<form action="/buscar/" method="GET">
		<input type="text" name="pro" required>
		<input type="submit" name="Buscar" >

	</form>

	<p>Resultados de:<strong>{{query}}</strong></p>
	
	
	{% if articulos %}

	         <p>Articulos encontrados {{articulos|length}} articulo</p>

	       <ul>
		        {%for articulo in articulos%}
				   
						   
				            <li>

			                    {{articulo.descripcion}} &nbsp;{{articulo.precio}}



		                     </li>

		        {% endfor %}

	        </ul>

	{% else %}

	      <p>No se encontraron articulos</p>

	{% endif %}
</body>

</html>


{% endblock content %}