{{% extends 'pedidos_online/base.html' %}}


{% block content %}

    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-3">
            <p>{{ object.nombre }}</p>
            <p>Precio: ${{ object.precio }}</p>
            {% if object in user.usuario.prods.all %}
            <!-- add a button here to see the product -->
            You own this
            {% elif object in pedido_productos_actual %}
            <a href="#" class="btn btn-warning">Ir al carro</a>
            {% else %}
            <a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Agregar al carrito</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}